@charset "UTF-8";

body {
    background: linear-gradient(to right, #c04848, #610361);
}


#cart-container .cart-page {
    margin: 80px auto;
}
#cart-container table {
    width: 100%;
    border-collapse: collapse;
}
#cart-container .cart-info {
    display: flex;
    flex-wrap: wrap;
}
#cart-container th {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    color: black;
    background:#fff;
    font-weight: 500;
}
#cart-container td {
    text-align: center;
    padding: 10px 5px;
    color: #fff;
    font-family: 'Poppins', sans-serif;

}
#cart-container td input {
    width: 35px;
    height: 30px;
    padding: 0px;
}
#cart-container td img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
}
#cart-container .total-price {
    display: flex;
    justify-content: flex-end;
}
#cart-container .total-price table {
    border-top: 3px solid #fff;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    max-width: 350px;
}
#cart-container td:last-child {
    text-align: right;
}
#cart-container th:last-child {
    text-align: right;
}

#cart-container i {
    color: black;
}
#cart-container table tr{
    font-size: 18px;
}

#cart-container .button-buy-container {
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

#cart-container .buy-button{
    width: 220px;
    height: 70px;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}

.rating li{
    display: inline-block;
    color: #ece50c;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

@media only screen and (max-width: 600px) {
    #cart-container .cart-info p {
        display: none;
    }
}