header {
    margin:0;
    padding: 20px 0;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}


.left-nav2 {
    float: left;
    padding-left: 10px;
    justify-content: flex-start;
    align-items: center;
}

.right-nav2 {
    float: right;
    padding-right: 10px;
}

.left-nav2 ul{
    display: inline-flex;
    gap: 35px;
    list-style:none;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}

.right-nav2 ul{
    text-align: right;
    display: inline-flex;
    margin-right: 10px;
    gap: 35px;
    list-style:none;
    align-items: center;
    justify-content: flex-end;
}


.left-nav-link2 {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
/*
.left-nav-link2::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #c04848;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
} */

.right-nav-link2 {
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
/*
.right-nav-link2::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #8254ff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}
*/

.fa-user-astronaut{
    color:white;
    align-self: center;
}
.fa-sack-dollar{
    color:white;
    align-self: center;
}


.fa-basket-shopping{
    color: #FFFFFF;
    align-self: center;
}
.fa-person-through-window{
    color: #FFFFFF;
    align-self: center;
}


header li a img{
    width: 30px;
}