*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: linear-gradient(135deg, #c04848 25%, #610361 75%);
    padding-top:10vh;
    font-family: 'Poppins', sans-serif;
}
.carosello{
    height: 100%;
}
.imgCarosello{
    height: 90vh;
    border: 15px solid ;

    border-left-color: #610361;
    border-right-color: #c04848;


}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid #ffffff;
    padding: 8px 34px;
    font-size: 22px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover{
    border: 1px solid #B9BCFA;
    background: #610361;
    transition: 0.5s;
    color: #B9BCFA;
}

.carosello h1{
    font-family: Serif;
    text-align: center;
    font-size: 84px;
    color: white;
}

.carousel-item h2{
    font-family: Serif;
    font-size: 45px;
}

p{
    font-family: Serif;
}

.carousel-inner{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    position: absolute;
    text-align: center;
}

.carousel-item{
    top: 50%;
    left: 25%
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-35%, -50%);
    width: content-box;
    padding: 20px;
}

