*{
    font-family: 'Poppins',sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #c04848, #610361);
}
.container2{
    width: 700px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
}
.box{
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 35px;
    margin: 15px;
}
.name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.name i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.data{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.data i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.data input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}
.data input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.name input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}
.name input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.email{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.email i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.email input{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}
.email input::placeholder{
    color: #bbb;
    font-weight: 500;
}

.oggetto input{
    width: 100%;
    padding: 20px 60px;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}
.oggetto input::placeholder{
    color: #bbb;
    font-weight: 500;
}
.message-box{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.message-box i{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}
.message-box textarea{
    width: 100%;
    padding: 20px 60px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
}
.message-box textarea::placeholder{
    color: #bbb;
    font-weight: 500;
}


.status{
    border-radius:1.2rem;
    background-color: #ffcdd2;
    padding: 0.2rem 1rem;
    text-align: center;
}
.status-aperto{
    background-color: #c8e6c9;
    color: #FFFFFF;
}
.status-inviato{
    background-color: #fff0c2;
    color: #FFFFFF;
}
